aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aiosignal==1.4.0
asyncio==4.0.0
attrs==25.4.0
bidict==0.23.1
colorama==0.4.6
frozenlist==1.8.0
h11==0.16.0
idna==3.11
loguru==0.7.0
multidict==6.7.0
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.4
propcache==0.4.1
python-engineio==4.12.3
python-socketio==5.14.3
scipy==1.16.3
seahorse==1.1.6b5
simple-websocket==1.1.0
split==0.4
typing_extensions==4.15.0
win32_setctime==1.2.0
wsproto==1.2.0
yarl==1.22.0
